@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Shantell+Sans:ital,wght@0,300;0,400;0,500;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    height: 100vh;
    position: relative;
    font-family: 'Press Start 2P', cursive;
    background-image: linear-gradient(45deg,#CDFCF6, #E3DFFD);
}
/* -------- */

.btn {
    padding: 5px 16px;
    border-radius: 4px;
    border: none;
    user-select: none;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    color: #E3DFFD;
    background-image: linear-gradient(45deg, #BFACE2, #FFCEFE);
}

/* -------- */
.container {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#board {
    border: 2px solid #666;
}

.side-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 16px;
}

.title {
    margin: 12px 0;
}

#score {
    margin-top: 20px;
}

#play-btn {
    font-size: 18px;
    font-weight: 600;
    padding: 16px 0;
    border-radius: 5px;
    background-color: greenyellow;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 6px 0;
}

.volume_off {
    display: none;
}

.settings,
.menu,
.volume {
    font-size: 20px;
    cursor: pointer;
    user-select: none;
    padding: 0 6px;
}


/* Modal settings */
.modal_settings {
    position: fixed;
    font-family: 'Shantell Sans', cursive;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #6666668f;
    display: none;
}

.settings_panel {
    position: absolute;
    width: 350px;
    height: 400px;
    background-color: #635985;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    animation: slide .4s linear;    
    box-shadow: -10px 10px 23px -3px #666666;
    z-index: 2;
}

.title_bar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.title_bar--settings {
    margin: 15px 0;
}

.title_bar--close {
    position: absolute;
    padding: 0 4px;
    top: 4px;
    right: 13px;
    font-size: 24px;
}

.title_bar--close:hover {
    color: #E3DFFD;
    cursor: pointer;
}

.body_part {
    padding: 0 16px;
    font-size: 18px;
}

.dark_theme {
    padding: 0 0 10px 0;
}

.light-btn {
    margin-left: 70px;
    transition: 0.2s;
}

.dark-btn {
    transition: 0.1s;
}

.light-btn:hover {
    color: #4E31AA;
    background-image: linear-gradient(45deg, #E5D1FA, #ECF2FF);
}

.dark-btn:hover {
    color: #ECF2FF;
    background-image: linear-gradient(45deg, #443C68, #635985);
}

.level {
    display: flex;
    align-items: center;
    margin: 8px 0;
}

.level__title {
    margin-right: 84px;
}

.form_group + .form_group {
    margin-left: 10px;
}

.volume_settings {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
}

.footer_part {
    position: absolute;
    bottom: 18px;
    right: 18px;
}

@keyframes slide {
    from {
        opacity: 0;
        transform: translate(-50%, 100%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}
